@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
  /* Header height  */
  --header-height: 56px;
  /* colors */
  --primary-color: #ED0049;
  --secondary-color: #0F518C;
  --text-color: #000000;
  --background-color: #ffffff;
  --color: #eceff1;
  --color-price: #424242;
  --color-cart: brown;
  --color-to-close: rgb(255, 0, 0) ;
  --color-footer: #272626;

  /* Font and typography */
  --big-font: 2rem;
  --medium-font: 1.5rem;
  --normal-font: 1rem;
  --small-font: .8rem;
  --tiny-font: .75rem;

  /* Font weight */
  --font-tiny: 300;
  --font-normal: 400;
  --font-medium: 600;
  --font-bold: 700;

  /* Margins  */
  --sp-0-5: .5rem;
  --sp-0-75: .75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;

  /* z index  */
  --z-fixed: 1;
  --z-modal: 2;
}

@media screen and (min-width: 992px) {
  :root {
    --big-font: 2.5rem;
    --medium-font: 2rem;
    --normal-font: 1.25rem;
    --small-font: 1rem;
    --tiny-font: .8rem;
  }
}

/* ===============  BASE  ==================== */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ==================  BOTON DRAKMODE  =================== */
body.dark {
  background-color: #000000;
  color: var(--color);
}

/* scroll bar */
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/* selection */
::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* ======= REUSABLE CSS CLASSES ======== */
.section {
  padding: var(--sp-2) 0 var(--sp-1);
}

.section--title,
.container {
  max-width: 1024px;
  margin: 0 1rem;
}

/* ======= LOADER ======== */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__container span {
  display: inline-block;
  width: var(--sp-3);
  height: var(--sp-3);
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: pulse 1.0s infinite ease-in-out;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    bottom: var(--header-height);
    left: -100%;
    width: 100%;
    height: calc(max-content - var(--header-height));
    padding: var(--sp-3) 0 var(--sp-2);
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    transition: left .5s ease-in-out;
  }
}



/* ====  SWITCH  === */
.switch {
  background: #343058;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch.active {
  background: orange;
  color: #000000;
}

.switch.active::after{
  right: 0;
  left: unset;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h3 {
  margin-top: 10px;
  font-size: 18px;
}

p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ===============  HEDER  ==================== */
.header {
  display: flex;
  background: transparent;
  justify-content: space-around;
  align-items: center;
  height:var(--header-height);
  padding: 5px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);;
}

header.abajo{
  background: var(--color-footer);
}


.header.dark {
  display: flex;
  background: var(--color-footer);
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  padding: 5px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 100);;
}


/* logo del header */
.header .logo {
  cursor: pointer;
  flex-wrap: wrap;
  
}

.menu__icon {
  display: none;
}

.header .logo img {
  height: 50px;
  width: auto;
  transition: all 0.3s;
  flex-wrap: wrap;
}

.header .logo img:hover {
  transform: scale(1.4);
}

.header .nav__links {
  list-style: none;
  font-weight: 700;
}

.header .nav__links li {
  display: inline-block;
  padding: 0 10px;
  margin-top: 0px;
}

.header .nav__links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: var(--color);
  text-decoration: none;
  line-height: .3;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav__links a:hover {
  transform: scale(1.2);
}



.header .nav__links li a i {
  margin-bottom: 5px;
}


.header .nav__links a {
  font-size: 700;
  color: var(--color);
  text-decoration: none;
}

.header .nav__links li a:hover {
  padding: 10px 2px;
  color: var(--secondary-color);
  border-radius: 10px;
  transition: all 0.3s;
}

/* ==========  BOTON DE CONTATCO  ==========  */

.footer .btn__contact button {
  font-weight: 700;
  padding: 9px 25px;
  background: var(--color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; 
  margin-top: 10px;
}

.footer .btn__contact button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.5);
}

/* =============  PRODUCTS  ============== */
.product__container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.product__card {
  background: radial-gradient(ellipse, rgb(189, 187, 187), rgb(61, 60, 60));
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(31, 30, 30, 0.9);
  text-align: center;
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  gap: 10px;
}

.category,
.quantity {
  font-size: 14px;
  font-weight: bold;
  bottom: 2px;
}

.category {
  left: 0px;
  position: relative;
}

.quantity {
  right: 0px;
  position: relative;
}

.product__card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
  position: relative  ;
  background-color: #aaaaaa;
}

.product__card:hover img {
  transform: scale(1.1);
}

.product__card:hover {
  background: linear-gradient(to top,var(--secondary-color), var(--primary-color));
}

.name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: center;
  text-transform: uppercase;

}

.price {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-price);
}

.product__price {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-footer);
}

.additional__info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-bottom: 0px ;
  bottom: 0px;
}

/* iconos del menu */

.bx-shopping-bag {
  font-size: 30px;
  color: var(--color-cart);
}

.bx-search {
  font-size: 30px;
  color: blueviolet;
}

.bx-home-smile {
  font-size: 30px;
  color: cornflowerblue;
}

/* =================  FOOTER ================= */

.footer {
  padding-left: 20px;
  text-align: left;
  color: var(--color);
  background: var(--color-footer);
}

.main {
  padding-top: 5rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  margin-right: 20px;
}

.footer__title {
  margin-bottom: 10px;
}

.social__networks {
  margin-top: 20px;
}

.social__networks h4 {
  margin-bottom: 10px;
}

/* ========================  BOTON DETALLE  ========================  */
.details__btn {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -1px;
  background-color: var(--primary-color);
  color: var(--color);
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.product__card:hover .details__btn {
  display: block;
}

.details__btn:hover {
  background-color: var(--secondary-color);
}

/*===== Agregados para la ventana emergente =====*/
.product__overlay {
  display: none;
  position: fixed;
  z-index: var(--z-modal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

.product__details {
  background: linear-gradient(to top,var(--background-color), var(--color-footer) );
  padding: 20px;  
  border-radius: 5px;
  text-align: center;
  position: absolute;
}
/* ====================  IMAGEN DEL PRODUCTO EN DETALLES DEL PRODUCTO  ==================== */
.product__image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
  position: relative  ;
  background: linear-gradient(to top,var(--background-color), var(--color-footer) );
}

.product__image:hover {
  transform: scale(1.6);
}
/* =====  BOTON DE CERRAR EN DETALLE DEL PRODUCTO  ==== */
.close__btn {
  position: relative  ;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-to-close);
  right: 0;
  top: 0;
}

.close__text__details {
  font-size: 16px;
  text-align: center;
}

.close__btn:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;

}

.size__options,
.color__options {
  margin-top: 20px;
}

.size__options h3,
.color__options h3 {
  margin-bottom: 10px;
}

.size__buttons,
.color__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.size__btn{
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
}


.color__red__btn{
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  border: none;
  cursor: pointer;
}
.color__blue__btn{
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  border: none;
  cursor: pointer;
}
.color__yellow__btn{
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  border: none;
  cursor: pointer;
}
.color__green__btn{
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green ;
  border: none;
  cursor: pointer;
}

.product__card:hover .details__btn {
  display: block;
}

.details__btn:hover {
  background-color: var(--secondary-color);
}

.image__container {
  position: relative;
  display: inline-block;
}

.add__to__cart__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 10px;
  right: 1px;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add__to__cart__btn__in__details {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add__to__cart__btn__in__details:hover {
  background-color: var(--color);
}

.add__to__cart__btn:hover {
  background-color: var(--color); 
}

.button__text {
  transform: translate(-25%, -25%);
  color: var(--color-cart);
  font-weight: bold;
}

.product__details img {
  width: 200px;
  height: auto; 
}

/* ============== REDES SOCIALES FOOTER  ============== */

.social__networks {
  list-style: none;
  font-weight: 700;
}

.social__networks li {
  display: inline-block;
  padding: 0 10px;
  margin-top: 0px;
}


  .bxl-facebook{
    color: #1877F2
  }

  .bxl-instagram{
    color: #E4405F
  }

  .bxl-twitter{
    color: #1DA1F2;
  }

  .bxl-whatsapp{
    color: #25D366;
  }


  